{% extends 'base.html.twig' %}
{#{% block stylesheets %}#}
{#<link rel="stylesheet" href="{{ asset('tailwind_2_layout.html.twig')}}">#}
{#{% endblock %}#}
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container flex flex-col w-1/4 mx-auto">
        <form class="container flex flex-col mx-auto" action="{{ path('app_login') }}" method="POST">
        <div class="inline-flex justify-between mb-2"><label class="mb-2" for="username">Email:</label>
            <input class="text-gray-900 bg-gray-50 rounded-lg text-sm block w-full p-2.5 border border-gray-300 focus:z-10 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" id="username" name="_username" value="{{ last_username }}" required>
        </div>
        <div class="inline-flex justify-between mb-2">
            <label class="mb-2" for="password">Password:</label>
            <input class="text-gray-900 bg-gray-50 rounded-lg text-sm block w-full p-2.5 border border-gray-300 focus:z-10 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" type="password" id="password" name="_password" required></div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn">Login</button>
        </form>
        <p>Не зарегистрированы? <a href="{{ path('registration') }}">Регистрация</a></p></div>
{% endblock %}

