{% extends 'base.html.twig' %}

{% block body %}
    <div class="container w-1/2 mx-auto">
        <h2 class="text-lg">Добавить новую коллекцию</h2>
        <div class="collection-create flex-col">
            {{ form_start(form) }}
            {{ form_row(form.name, ) }}
            {{ form_row(form.type) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
        <div class="collections-list flex-col text-center mt-20">
    <span>
    Список коллекций
    </span>
            {% for collection in collections %}
                <p><a href="{{ path('collection-get', {id: collection.id}) }}">{{ collection.name }}</a></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}